.navbar-nav .nav-link {
  color: #AA8736;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #AA8736 !important;
}

.title {
  color: #986D0C;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000000;
  background-color: #AA8736;
  transition: 0.5s ease-in-out;
}

.navbackground {
  background-color: rgb(0, 0, 0);
}

.navbarHeight {
  height: 4rem;
}